{% extends 'publicBasic.html' %}
{%block content %}
{%load static%}
	
			
			<section class="info-area pb-120" style="margin-top:100px;">
				<div class="container-fluid">
								<h1 class="mb-10"><center>About Us</center></h1>

					<div class="row align-items-center">
						<div class="col-lg-6 no-padding info-area-left">
							<img class="img-fluid" src="{% static 'publicstatic/img/about-image.jpg' %}" alt="">
						</div>
						<div class="col-lg-6 info-area-right" style="padding-top:20px;">
							<h1>Who we are</h1>
							<p>Haven Organization is a non-profit organization that brings care to orphaned and vulnerable children around the world.

 

We empower children, youth, and families to effectively navigate through change, raise healthy children, develop strong relationships, and heal from trauma. We offer regular, consistent support to those in need so that the children in our care can develop over time, giving them the chance to create a brighter future.</p>							<br>
							<p>
								Haven Organization has opened programs for orphans children, families and communities since 2020. We provide youth and family programs which include family foster care, adoption, foster care prevention through family strengthening, mental and behavioral health, parenting supports, afterschool, and youth development. Haven Organization employs approximately 280 full-time and 150 part-time/on-call staff and manages over 300 volunteers and supporters who come together to help orphan children each year.
							</p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End info Area -->	

			<!-- Start course-mission Area -->
			<section class="course-mission-area pb-120">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Our Mission</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>							
                    <div class="row">
                        <div class="col-md-6 accordion-left">
<h1 class="mb-10">We help for happy and health life</h1>
								<p>Haven Organisation exists to provide care to orphans, vulnerable children, powerless young-women, and broken families. We provide many different types of services to the communities we serve. At Haven Orphans, we take a long-term approach to what we do and go beyond simple involvement in the lives of the children and people we serve.</p>
                            <!-- accordion 2 start-->
                            <!--<dl class="accordion">
                                <dt>
                                    <a href="">Success</a>
                                </dt>
                                <dd>
                                    Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam.
                                </dd>
                                <dt>
                                    <a href="">Info</a>
                                </dt>
                                <dd>
                                    Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. leo quam aliquet diam, congue laoreet elit metus eget diam.
                                </dd>
                                <dt>
                                    <a href="">Danger</a>
                                </dt>
                                <dd>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. Proin ac metus diam.
                                </dd>
                                <dt>
                                    <a href="">Warning</a>
                                </dt>
                                <dd>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. Proin ac metus diam.
                                </dd>                                    
                            </dl>-->
                            <!-- accordion 2 end-->
                        </div>
                        <div class="col-md-6 video-right justify-content-center align-items-center d-flex relative">
                        	<div class="overlay overlay-bg"></div>
							<img src="{% static 'publicstatic/img/gf.jpg' %}" style="width:800px; height:100%">
                        </div>
                    </div>
				</div>	
			</section>
			<!-- End course-mission Area -->
					

			<!-- Start search-course Area -->
			
			<!-- Start review Area -->
			
			<!-- Start cta-two Area -->
			<section class="cta-two-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 cta-left">
							<h1>Not Yet Satisfied with our Trend?</h1>
						</div>
						<div class="col-lg-4 cta-right">
							<a class="primary-btn wh" href="#"></a>
						</div>
					</div>
				</div>	
			</section>
			<!-- End cta-two Area -->						    			

			<!-- start footer Area -->		
		{% endblock content %}	