{% extends 'publicBasic.html' %}
{%block content %}
{%load static%}
	
<section class="events-list-area section-gap event-page-lists">
				<div class="container">
								<h1 class="mb-10"><center>Services</center></h1><br>

					<div class="row align-items-center">
						<div class="col-lg-6 pb-30">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static 'publicstatic/img/2.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
					
									<a href="/login/"><h4>Give Monthly</h4></a>
									<p>
										Become a regular Haven Partner and help every orphans chance for a better life .
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 pb-30">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static 'publicstatic/img/3.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
														<a href="/login/"><h4>Give One Time</h4></a>
									<p>
										Even with a single impact, we can create a miracle for an orphaned child.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 pb-30">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static 'publicstatic/img/4.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
													<a href="/login/"><h4>Charity Project</h4></a>
									<p>
									In simple words, a charity project proposal is a blueprint for a project.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 pb-30">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static 'publicstatic/img/5.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
																	<a href="event-details.html"><h4>Foundarising</h4></a>
									<p>
										The purpose of an orphanage fundraising letter is to raise funds for the orphanage.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 pb-30">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static 'publicstatic/img/6.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
									
									<a href="/login/"><h4>Food Boxes</h4></a>
									<p>
										Most of us are fortunate—we don’t know what it’s like to be that hungry.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6" pb-30>
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static 'publicstatic/img/7.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
																		<a href="event-details.html"><h4>Giving Courage</h4></a>
									<p>
										We serve where the need is greatest, hoping to inspire courage in those facing a life of turmoil and struggle.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 pb-30">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static 'publicstatic/img/1.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
									
									<a href="/login/"><h4>Clothes</h4></a>
									<p>Typically, their needs include the need for food, security, housing, clothing, bedding, health care, education, parenting and friends.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="{% static 'publicstatic/img/8.jpg' %}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
									
									<a href="/login/"><h4>Giving Hope</h4></a>
									<p>We bring hope in the midst of despair, offering children the chance for a better life and a brighter tomorrow.</p>
								</div>
							</div>
						</div>																		
							
					</div>
				</div>	
			</section>
			<!-- End events-list Area -->
				

			<!-- Start cta-two Area -->
			<section class="cta-two-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 cta-left">
							<h1>Not Yet Satisfied with our Trend?</h1>
						</div>
						<div class="col-lg-4 cta-right">
							
						</div>
					</div>
				</div>	
			</section>

		  <!-- start footer Area -->		
			{% endblock content %}