
{% extends 'adminBasic.html' %}
{%block content %}
{%load static%}
            
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
               
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin-index/">Dashboard</a></li>
                       
                    </ol>
                </nav>
            </div>
        </div>

    </div>
   

<!-- Borderless table end -->

<!-- Hoverable rows start -->
<div class="row" id="table-hover-row">
  <div class="col-md-6">
    <div class="card">
      
      <div class="card-content">
      
        <div class="card-body">
          
        
        

                <form class="form-body" action="/changepassworduser/" method="POST" name="changepassword">
                    {% csrf_token %} {% if message %}
                        <p class="text-center" style="color: red">{{ message }}</p>
                        {% endif %}
                    <div class="row">
                        <div class="col-md-4">
                            <label class="font-weight-bold">Old Password</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="password" id="oldpass" class="form-control" name="oldpass" placeholder="Old Password">
                        </div>
                        <div class="col-md-4">
                            <label class="font-weight-bold">New Password</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="password" id="newpass" class="form-control" name="pass1" placeholder="New Password">
                        </div>
                        <div class="col-md-4">
                            <label class="font-weight-bold">Confirm Password</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="password" id="cpass" class="form-control" name="pass2" placeholder="Confirm Password">
                        </div>
                        
                        <div class="col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}