{% extends 'adminBasic2.html' %}
{%block content %}
{%load static%}
            
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Edit Pickup-team </h3>
                
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page"></li>Edit Pick-Up Team</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
   

<!-- Borderless table end -->

<!-- Hoverable rows start -->
<div class="row" id="table-hover-row">
  <div class="col-md-12">
    <div class="card">
      
      <div class="card-content">
      
        <div class="card-body">
          
        </div>
        
        <!-- table hover -->
        <section id="basic-vertical-layouts">
            <div class="row match-height">
                <div class="col-md-8 col-12">
                <div class="card">
                   
                    <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical" action="/editpickup/{{details.id}}/" method="POST">
                            {% csrf_token %}
                        <div class="form-body">
                            <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="first-name-vertical">Pick-Up-Id </label>
                                    <input type="text" id="first-name-vertical" class="form-control" name="id" value={{details.id}} disabled readonly>
                                       
                                    </div>
                                    <div class="form-group">
                                        <label for="first-name-vertical"> Name </label>
                                        <input type="text" id="first-name-vertical" class="form-control" name="name" value={{details.name}}>
                                           
                                        </div>
                                <div class="form-group">
                                <label for="first-name-vertical">DOB</label>
                                <input type="Date" id="first-name-vertical" class="form-control" name="dob" value={{details.DOB}}>
                                   
                                </div>
                               
                            </div>
                           
                            <div class="col-md-12">
                                <div class="form-group">
                                <label for="contact-info-vertical">E-Mail</label>
                                <input type="mail" id="contact-info-vertical" class="form-control" name="mail"
                                value={{details.e_mail}} >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="first-name-vertical">Contact No </label>
                                <input type="text" id="first-name-vertical" class="form-control" name="contact" value={{details.contact_No}}>
                                   
                                </div>
                                <div class="form-group">
                                    <label for="first-name-vertical">profilePicture </label>
                                    <input type="file" id="first-name-vertical" class="form-control" name="pic" value={{details.profilePicture}} >
                                       
                                    </div>
                                <div class="form-group">
                                    <label for="first-name-vertical">Address </label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"  name='address' value={{details.address}}></textarea>
                                    </div>
                   
                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                               
                            </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
    <!-- Hoverable rows end -->


    {% endblock content %}