<!DOCTYPE html>
{%load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password - Voler Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="{% static 'adminstatic/assets/css/bootstrap.css' %}"
    />

    <link
      rel="shortcut icon"
      href="{% static 'adminstatic/assets/images/favicon.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{% static 'adminstatic/assets/css/app.css' %}"
    />
  </head>

  <body>
    <div id="auth">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-12 mx-auto">
            <div class="card py-4">
              <div class="card-body">
                <div class="text-center mb-5">
                  <img
                    src="{% static 'adminstatic/assets/images/favicon.svg' %}"
                    height="48"
                    class="mb-4"
                  />
                  <h3>Forgot Password</h3>
                  <p>Please enter your email to receive password reset link.</p>
                </div>
                <form action="/otpverify/" method="POST">
                  {% csrf_token %} {% if message %}
                  <p class="text-center font-weight-bold" style="color: red">{{ message }}</p>
                  {% endif %}
                  <div class="form-group">
                    <label for="first-name-column" class="font-weight-bold">Enter User Name</label>
                    <input
                      type="text"
                      id="first-name-column"
                      class="form-control"
                      name="username"
                    />
                  </div>
                  <div class="clearfix">
                    <button class="btn btn-primary float-right">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'adminstatic/assets/js/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'adminstatic/assets/js/app.js' %}"></script>

    <script src="{% static 'adminstatic/assets/js/main.js' %}"></script>
  </body>
</html>