{% extends 'adminBasic2.html' %}
{%block content %}
{%load static%}
            
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Pickup-team </h3>
                
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/indexadmin/">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page"></li>Pick-Up Team</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
   

<!-- Borderless table end -->

<!-- Hoverable rows start -->
<div class="row" id="table-hover-row">
  <div class="col-md-12">
    <div class="card">
      
      <div class="card-content">
        
        <div class="card-body">
          
        </div>
        
        <!-- table hover -->
        <div class="table-responsive">

          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th>WASTE-ID</th>
                <th>DONATED BY</th>
                <th>WASTAGE</th>
                <th>quantity</th>
                
                <th>DATE</th>
                
        
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              {% for x in pickupemp %}
              <tr>
                <td class="text-bold-500">{{x.id}}</td>
                <td class="text-bold-500">{{x.donatedBy}}</td>
                <td class="text-bold-500">{{x.wasteType}}</td>
                <td class="text-bold-500">{{x.quantity}}</td>
                <td>{{x.updated_at}}</td>
               
                <td class="text-right">
                  
              
                            <a class="btn btn-success"  href="/editpickupboy/{{x.id}}/">Edit</a>
                            <a class="btn btn-danger"  href="/deletepickupboy/{{x.id}}/">Delete</a>
                            <a class="btn btn-warning"  href="/assignpickup/{{x.id}}/">Assign pick up</a></td>
                          
                  

              </tr>
              {%endfor%}
           
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hoverable rows end -->



{% endblock content %}