{% extends 'adminBasic.html' %}
{%block content %}
{%load static%}
	
          
            
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Wastage Type</h3>
               
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin-index/">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Form Layout</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    


    <!-- // Basic multiple Column Form section start -->

    
    <!-- Basic Vertical form layout section start -->
    <section id="basic-vertical-layouts">
        <div class="row match-height">
            <div class="col-md-6 col-12">
            <div class="card">
               
                <div class="card-content">
                <div class="card-body">
                    <form class="form form-vertical" action="/collect-food/" method="POST" name="clothorfood">
                        {%csrf_token%}
                    <div class="form-body">
                        <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                    <label for="first-name-vertical" class="font-weight-bold">User Name</label>
                                    <input type="text" id="first-name-vertical" class="form-control" name="username"
                                        placeholder="User Name" value={{request.user.username}} disabled>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="inputState" name='wasteType' class="font-weight-bold">Waste Type</label>
                                        
                                        <select id="inputState" class="form-control" >
                                        <option selected>Food</option>
                                        <option>...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1" class="font-weight-bold">Description</label>
                                        <textarea class="form-control" id="description" rows="3" name='description'></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="inputState" class="font-weight-bold">Waste Quantity</label>
                                        
                                            <input type='number' id="waste_quantity" class="form-control" name='quantity' > 
                                        </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="inputState" class="font-weight-bold mr-2">Image</label>
                                        
                                            <input type="file" class="form-control-file form-control" id="image" name='pic1'>
                                        
                                    </div>
                                </div>
                            </div>
                        
                            
                        <div class="col-12 d-flex justify-content-end">
                          <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button></a>
                           
                        </div>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
    <!-- // Basic multiple Column Form section end -->
</div>

{% endblock content %}